In [30]:
import pandas as pd
import numpy as np

df = pd.read_csv("/projectnb/herbdl/data/kaggle-herbaria/train_2022_labeled.csv").drop(columns=["Unnamed: 0"])
df.head()

,image_id,filename,label,species,genus,family
0,00000__001,000/00/00000__001.jpg,"This is an image of species amabilis, in the g...",amabilis,Abies,Pinaceae
1,00000__002,000/00/00000__002.jpg,"This is an image of species amabilis, in the g...",amabilis,Abies,Pinaceae
2,00000__003,000/00/00000__003.jpg,"This is an image of species amabilis, in the g...",amabilis,Abies,Pinaceae
3,00000__004,000/00/00000__004.jpg,"This is an image of species amabilis, in the g...",amabilis,Abies,Pinaceae
4,00000__005,000/00/00000__005.jpg,"This is an image of species amabilis, in the g...",amabilis,Abies,Pinaceae

In [31]:
# df.to_csv("/projectnb/herbdl/data/kaggle-herbaria/train_2022_labeled.csv")

In [32]:
df['label'] = df['family'] + ' ' + df['genus'] + ' ' + df['species']
# df.drop(columns=['species', 'genus', 'family'], inplace=True)
df['label'].nunique()

15501

In [33]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

le = LabelEncoder()
le.fit(df['label'])
df['label'] = le.transform(df['label'])

train, val = train_test_split(df, test_size=0.2, random_state=42)

train.head()

#train.to_csv("/projectnb/herbdl/data/kaggle-herbaria/train_2022_labeled2.csv", index=False)
#val.to_csv("/projectnb/herbdl/data/kaggle-herbaria/val_2022_labeled2.csv", index=False)

,image_id,filename,label,species,genus,family
686446,12640__012,126/40/12640__012.jpg,3150,cordovensis,Roldana,Asteraceae
83405,01612__004,016/12/01612__004.jpg,7279,sophoroides,Astragalus,Fabaceae
155613,02962__081,029/62/02962__081.jpg,6101,whitneyi,Carex,Cyperaceae
455876,08401__098,084/01/08401__098.jpg,9199,philadelphicum,Lilium,Liliaceae
141438,02707__054,027/07/02707__054.jpg,5846,hoodii,Carex,Cyperaceae

In [34]:
df['scientific_name'] = df['genus'] + ' ' + df['species']
df.head()

,image_id,filename,label,species,genus,family,scientific_name
0,00000__001,000/00/00000__001.jpg,11180,amabilis,Abies,Pinaceae,Abies amabilis
1,00000__002,000/00/00000__002.jpg,11180,amabilis,Abies,Pinaceae,Abies amabilis
2,00000__003,000/00/00000__003.jpg,11180,amabilis,Abies,Pinaceae,Abies amabilis
3,00000__004,000/00/00000__004.jpg,11180,amabilis,Abies,Pinaceae,Abies amabilis
4,00000__005,000/00/00000__005.jpg,11180,amabilis,Abies,Pinaceae,Abies amabilis

In [35]:
# pick top 50 species from Asteracae family
df_asteraceae = df[df['family'] == 'Asteraceae']
species_subset = df_asteraceae['scientific_name'].value_counts().head(50).index

species_subset

Index(['Gaillardia spathulata', 'Erigeron tener', 'Encelia virginensis',
       'Eurybia spectabilis', 'Crepis occidentalis', 'Bidens eatonii',
       'Bidens trichosperma', 'Erigeron melanocephalus',
       'Heterotheca polothrix', 'Chrysopsis subulata', 'Ageratina jucunda',
       'Lygodesmia aphylla', 'Bidens beckii', 'Encelia californica',
       'Arnica sororia', 'Erigeron vetensis', 'Dieteria canescens',
       'Chrysopsis mariana', 'Antennaria marginata', 'Pityopsis falcata',
       'Liatris quadriflora', 'Erigeron vagus', 'Eutrochium dubium',
       'Liatris pilosa', 'Garberia heterophylla', 'Eurybia divaricata',
       'Hymenoxys hoopesii', 'Crepis intermedia', 'Crepis acuminata',
       'Helianthus debilis', 'Thelesperma subnudum', 'Symphyotrichum adnatum',
       'Pterocaulon pycnostachyum', 'Symphyotrichum porteri',
       'Heterotheca pumila', 'Bidens vulgata', 'Lepidospartum latisquamum',
       'Bidens connata', 'Brickellia longifolia', 'Eurybia radula',
       'Helianthus pumilus', 'Chaetadelpha wheeleri',
       'Carphephorus paniculatus', 'Arnica gracilis',
       'Carphephorus odoratissimus', 'Erigeron pulcherrimus',
       'Marshallia graminifolia', 'Adenophyllum cooperi',
       'Lorandersonia linifolia', 'Packera crocata'],
      dtype='object', name='scientific_name')

In [36]:
astera = df_asteraceae[df_asteraceae['scientific_name'].isin(species_subset)].reset_index(drop=True)

# label encode
le = LabelEncoder()
le.fit(astera['scientific_name'])
astera['label'] = le.transform(astera['scientific_name'])

astera['filename'] = '/projectnb/herbdl/data/kaggle-herbaria/herbarium-2022/train_images/' + astera['filename']

astera.head()

,image_id,filename,label,species,genus,family,scientific_name
0,00153__001,/projectnb/herbdl/data/kaggle-herbaria/herbari...,0,cooperi,Adenophyllum,Asteraceae,Adenophyllum cooperi
1,00153__002,/projectnb/herbdl/data/kaggle-herbaria/herbari...,0,cooperi,Adenophyllum,Asteraceae,Adenophyllum cooperi
2,00153__003,/projectnb/herbdl/data/kaggle-herbaria/herbari...,0,cooperi,Adenophyllum,Asteraceae,Adenophyllum cooperi
3,00153__004,/projectnb/herbdl/data/kaggle-herbaria/herbari...,0,cooperi,Adenophyllum,Asteraceae,Adenophyllum cooperi
4,00153__005,/projectnb/herbdl/data/kaggle-herbaria/herbari...,0,cooperi,Adenophyllum,Asteraceae,Adenophyllum cooperi

In [39]:
# map label to scientific name
label_map = astera[['scientific_name', 'label']].drop_duplicates()

# turn into dict
label_map = label_map.set_index('label').to_dict()['scientific_name']

label_map

{0: 'Adenophyllum cooperi',
 1: 'Ageratina jucunda',
 2: 'Antennaria marginata',
 3: 'Arnica gracilis',
 4: 'Arnica sororia',
 5: 'Bidens beckii',
 6: 'Bidens connata',
 7: 'Bidens eatonii',
 8: 'Bidens trichosperma',
 9: 'Bidens vulgata',
 10: 'Brickellia longifolia',
 11: 'Carphephorus odoratissimus',
 12: 'Carphephorus paniculatus',
 13: 'Chaetadelpha wheeleri',
 14: 'Chrysopsis mariana',
 15: 'Chrysopsis subulata',
 16: 'Crepis acuminata',
 17: 'Crepis intermedia',
 18: 'Crepis occidentalis',
 19: 'Dieteria canescens',
 20: 'Encelia californica',
 21: 'Encelia virginensis',
 22: 'Erigeron melanocephalus',
 23: 'Erigeron pulcherrimus',
 24: 'Erigeron tener',
 25: 'Erigeron vagus',
 26: 'Erigeron vetensis',
 27: 'Eurybia divaricata',
 28: 'Eurybia radula',
 29: 'Eurybia spectabilis',
 30: 'Eutrochium dubium',
 31: 'Gaillardia spathulata',
 32: 'Garberia heterophylla',
 33: 'Helianthus debilis',
 34: 'Helianthus pumilus',
 35: 'Heterotheca polothrix',
 36: 'Heterotheca pumila',
 37: 'Hymenoxys hoopesii',
 38: 'Lepidospartum latisquamum',
 39: 'Liatris pilosa',
 40: 'Liatris quadriflora',
 41: 'Lorandersonia linifolia',
 42: 'Lygodesmia aphylla',
 43: 'Marshallia graminifolia',
 44: 'Packera crocata',
 45: 'Pityopsis falcata',
 46: 'Pterocaulon pycnostachyum',
 47: 'Symphyotrichum adnatum',
 48: 'Symphyotrichum porteri',
 49: 'Thelesperma subnudum'}

In [14]:
astera['filename'][0]

'/projectnb/herbdl/data/kaggle-herbaria/herbarium-2022/train_images/001/53/00153__001.jpg'

In [15]:
train, val = train_test_split(astera, test_size=0.2, random_state=42)

train.to_json("/projectnb/herbdl/workspaces/faridkar/herbdl/finetuning/datasets/train_astera_50.json", orient='records', lines=True)
val.to_json("/projectnb/herbdl/workspaces/faridkar/herbdl/finetuning/datasets/val_astera_50.json", orient='records', lines=True)

train.shape, val.shape

((3170, 7), (793, 7))

In [16]:
train['species'].nunique()

50

In [17]:
df['scientific'] = df['genus'] + ' ' + df['species']
print(df.sample(10)['scientific'].tolist())

['Heuchera villosa', 'Thysanocarpus radians', 'Cyperus fuligineus', 'Keckiella breviflora', 'Orthocarpus pachystachyus', 'Scirpus divaricatus', 'Streptanthus flavescens', 'Hirtella rugosa', 'Astragalus leptaleus', 'Arnica sororia']

In [18]:
unique_genera = df['genus'].unique()

# Sample 10 random genera
random_genera = np.random.choice(unique_genera, 10, replace=False)

species = []
# for each genera, sample 10 random unique species
for genus in random_genera:
    species_sample = df[df['genus'] == genus].sample(10, replace=False)
    print(f"Genus: {genus}")
    print(species_sample['scientific'].tolist())
    species.extend(species_sample['scientific'].tolist())

Genus: Aphanisma
['Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides']
Genus: Cotinus
['Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus']
Genus: Callianthe
['Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora']
Genus: Graptopetalum
['Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi']
Genus: Calyptranthes
['Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii']
Genus: Roystonea
['Roystonea oleracea', 'Roystonea regia', 'Roystonea regia', 'Roystonea regia', 'Roystonea borinquena', 'Roystonea oleracea', 'Roystonea borinquena', 'Roystonea oleracea', 'Roystonea regia', 'Roystonea regia']
Genus: Rhododendron
['Rhododendron occidentale', 'Rhododendron viscosum', 'Rhododendron groenlandicum', 'Rhododendron periclymenoides', 'Rhododendron atlanticum', 'Rhododendron albiflorum', 'Rhododendron menziesii', 'Rhododendron alabamense', 'Rhododendron macrophyllum', 'Rhododendron atlanticum']
Genus: Brachystele
['Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis']
Genus: Tetraneuris
['Tetraneuris torreyana', 'Tetraneuris turneri', 'Tetraneuris scaposa', 'Tetraneuris ivesiana', 'Tetraneuris scaposa', 'Tetraneuris acaulis', 'Tetraneuris ivesiana', 'Tetraneuris ivesiana', 'Tetraneuris acaulis', 'Tetraneuris ivesiana']
Genus: Cardiospermum
['Cardiospermum grandiflorum', 'Cardiospermum microcarpum', 'Cardiospermum halicacabum', 'Cardiospermum microcarpum', 'Cardiospermum halicacabum', 'Cardiospermum microcarpum', 'Cardiospermum corindum', 'Cardiospermum microcarpum', 'Cardiospermum corindum', 'Cardiospermum corindum']

In [19]:
print(species)

['Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Aphanisma blitoides', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Cotinus obovatus', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Callianthe pauciflora', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Graptopetalum rusbyi', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Calyptranthes williamsii', 'Roystonea oleracea', 'Roystonea regia', 'Roystonea regia', 'Roystonea regia', 'Roystonea borinquena', 'Roystonea oleracea', 'Roystonea borinquena', 'Roystonea oleracea', 'Roystonea regia', 'Roystonea regia', 'Rhododendron occidentale', 'Rhododendron viscosum', 'Rhododendron groenlandicum', 'Rhododendron periclymenoides', 'Rhododendron atlanticum', 'Rhododendron albiflorum', 'Rhododendron menziesii', 'Rhododendron alabamense', 'Rhododendron macrophyllum', 'Rhododendron atlanticum', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Brachystele guayanensis', 'Tetraneuris torreyana', 'Tetraneuris turneri', 'Tetraneuris scaposa', 'Tetraneuris ivesiana', 'Tetraneuris scaposa', 'Tetraneuris acaulis', 'Tetraneuris ivesiana', 'Tetraneuris ivesiana', 'Tetraneuris acaulis', 'Tetraneuris ivesiana', 'Cardiospermum grandiflorum', 'Cardiospermum microcarpum', 'Cardiospermum halicacabum', 'Cardiospermum microcarpum', 'Cardiospermum halicacabum', 'Cardiospermum microcarpum', 'Cardiospermum corindum', 'Cardiospermum microcarpum', 'Cardiospermum corindum', 'Cardiospermum corindum']

In [20]:
path = "/projectnb/herbdl/workspaces/faridkar/herbdl/finetuning/datasets/val_astera.json"

df_astera = pd.read_json(path, lines=True)
print(df_astera.shape)

df_astera.head()

(13766, 2)

                                               image  caption
0  /projectnb/herbdl/data/kaggle-herbaria/herbari...       17
1  /projectnb/herbdl/data/kaggle-herbaria/herbari...       25
2  /projectnb/herbdl/data/kaggle-herbaria/herbari...       38
3  /projectnb/herbdl/data/kaggle-herbaria/herbari...        9
4  /projectnb/herbdl/data/kaggle-herbaria/herbari...       38

In [21]:
df_astera['image'][0]

'/projectnb/herbdl/data/kaggle-herbaria/herbarium-2022/train_images/142/59/14259__031.jpg'

In [22]:
df_astera['image'] = df_astera['image'].apply(lambda x: '/'.join(x.split('/')[-3:]))

df_astera['image']

0        142/59/14259__031.jpg
1        086/78/08678__096.jpg
2        146/49/14649__053.jpg
3        088/23/08823__014.jpg
4        041/15/04115__056.jpg
                 ...
13761    048/60/04860__009.jpg
13762    133/66/13366__054.jpg
13763    022/24/02224__015.jpg
13764    036/43/03643__067.jpg
13765    074/09/07409__024.jpg
Name: image, Length: 13766, dtype: object

In [23]:
df_astera['family'] = df_astera['image'].apply(lambda x: df[df['filename']==x]['family'].values[0])

KeyboardInterrupt:

In [ ]:
df_astera['genus'] = df_astera['image'].apply(lambda x: df[df['filename']==x]['genus'].values[0])
df_astera['species'] = df_astera['image'].apply(lambda x: df[df['filename']==x]['species'].values[0])

In [ ]:
df_astera[df_astera['caption']==17]

,image,caption,family,genus,species
0,142/59/14259__031.jpg,17,Asteraceae,Symphyotrichum,fendleri
13,144/35/14435__041.jpg,17,Ranunculaceae,Thalictrum,fendleri
26,061/84/06184__026.jpg,17,Euphorbiaceae,Euphorbia,fendleri
52,071/74/07174__016.jpg,17,Pteridaceae,Hemionitis,fendleri
63,021/76/02176__064.jpg,17,Asteraceae,Brickelliastrum,fendleri
...,...,...,...,...,...
13584,097/95/09795__035.jpg,17,Brassicaceae,Noccaea,fendleri
13600,071/74/07174__067.jpg,17,Pteridaceae,Hemionitis,fendleri
13670,031/79/03179__065.jpg,17,Rhamnaceae,Ceanothus,fendleri
13682,021/76/02176__045.jpg,17,Asteraceae,Brickelliastrum,fendleri
13751,097/95/09795__095.jpg,17,Brassicaceae,Noccaea,fendleri

In [25]:
df = pd.read_json("/projectnb/herbdl/workspaces/faridkar/herbdl/finetuning/datasets/train_astera_50.json", lines=True)

df.head()

,image_id,filename,label,species,genus,family,scientific_name
0,04108__101,/projectnb/herbdl/data/kaggle-herbaria/herbari...,16,acuminata,Crepis,Asteraceae,Crepis acuminata
1,08854__030,/projectnb/herbdl/data/kaggle-herbaria/herbari...,42,aphylla,Lygodesmia,Asteraceae,Lygodesmia aphylla
2,03503__013,/projectnb/herbdl/data/kaggle-herbaria/herbari...,14,mariana,Chrysopsis,Asteraceae,Chrysopsis mariana
3,14274__024,/projectnb/herbdl/data/kaggle-herbaria/herbari...,48,porteri,Symphyotrichum,Asteraceae,Symphyotrichum porteri
4,07266__037,/projectnb/herbdl/data/kaggle-herbaria/herbari...,35,polothrix,Heterotheca,Asteraceae,Heterotheca polothrix

In [26]:
df['scientific_name'].value_counts()

scientific_name
Bidens trichosperma           70
Heterotheca pumila            69
Pityopsis falcata             68
Lorandersonia linifolia       68
Erigeron tener                68
Helianthus pumilus            68
Erigeron vetensis             67
Bidens eatonii                67
Heterotheca polothrix         67
Thelesperma subnudum          67
Carphephorus odoratissimus    66
Encelia californica           66
Ageratina jucunda             66
Crepis occidentalis           66
Hymenoxys hoopesii            65
Helianthus debilis            65
Pterocaulon pycnostachyum     65
Chrysopsis mariana            65
Erigeron melanocephalus       65
Eurybia divaricata            65
Chrysopsis subulata           65
Gaillardia spathulata         64
Bidens vulgata                64
Lepidospartum latisquamum     64
Lygodesmia aphylla            64
Symphyotrichum porteri        64
Garberia heterophylla         64
Arnica sororia                64
Encelia virginensis           64
Carphephorus paniculatus      64
Bidens connata                63
Crepis acuminata              63
Erigeron vagus                62
Symphyotrichum adnatum        62
Erigeron pulcherrimus         62
Crepis intermedia             62
Eurybia radula                61
Liatris pilosa                61
Packera crocata               60
Marshallia graminifolia       60
Eutrochium dubium             60
Liatris quadriflora           59
Eurybia spectabilis           59
Chaetadelpha wheeleri         58
Adenophyllum cooperi          58
Bidens beckii                 58
Dieteria canescens            58
Antennaria marginata          57
Brickellia longifolia         57
Arnica gracilis               56
Name: count, dtype: int64

In [27]:
df.shape

(3170, 7)

In [28]:
val = pd.read_json("/projectnb/herbdl/workspaces/faridkar/herbdl/finetuning/datasets/val_astera_50.json", lines=True)
val.shape

(793, 7)